:root {
	--color-text-title: #212121;
	--color-logo: #000000;
	--color-accent: #2196f3;
	--color-text-main: #757575;
	--color-text-white: #ffffff;
	--color-background-main: #ffffff;
	--color-background-second: #f5f4fa;
	--color-background-hero: #2f303a;
	--color-header-border: #ececec;
	--color-portf-border: #eeeeee;
	--color-svg-gray: #afb1b8;
}
